body{
    background-color: #232323;
     margin: 0;
     padding: 0;
     font-family: 'Arimo', sans-serif;
    
}
.container{
    width: 100%;
    max-width: 1800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto
}

/*Carta 1*/
.hola{
    color: #7a46fb;
    text-align: center;
}
.container .card-1{
    width: 330px;
    height: 330px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #7a46fb;
}
.container .card-1:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.439);
}
.container .card-1 input{
    width: 80%;
    height: 35px;
    padding-top: 5px;
    margin-bottom: 30px;
    background: transparent;
    border-bottom: 1px solid #f5f5f5;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #f5f5f5;
    outline: none;
    font-size: 15px;
    letter-spacing: 1px;
}
.container .card-1 ::placeholder{
    color: #f5f5f5;
}
.container .card-1 h2{
    color: #f5f5f5;
}

/*Carta 2*/
.container .card-2{
    width: 330px;
    height: 330px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #7a46fb;
}
.container .card-2:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.439);
}
.container .card-2 input{
    width: 80%;
    height: 35px;
    padding-top: 5px;
    margin-bottom: 30px;
    background: transparent;
    border-bottom: 1px solid #f5f5f5;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #f5f5f5;
    outline: none;
    font-size: 15px;
    letter-spacing: 1px;
}
.container .card-2 ::placeholder{
    color: #f5f5f5;
}
.container .card-2 h2{
    color: #f5f5f5;
}


/*Carta 3*/
.container .card-3{
    width: 330px;
    height: 330px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #7a46fb;
}
.container .card-3:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.439);
}
.container .card-3 input{
    width: 80%;
    height: 35px;
    padding-top: 5px;
    margin-bottom: 30px;
    background: transparent;
    border-bottom: 1px solid #f5f5f5;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #f5f5f5;
    outline: none;
    font-size: 15px;
    letter-spacing: 1px;
}
.container .card-3 ::placeholder{
    color: #f5f5f5;
}
.container .card-3 h2{
    color: #f5f5f5;
}

/*Carta 4*/
.container .card-4{
    width: 330px;
    height: 330px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #7a46fb;
}
.container .card-4:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.439);
}
.container .card-4 input{
    width: 80%;
    height: 35px;
    padding-top: 5px;
    margin-bottom: 30px;
    background: transparent;
    border-bottom: 1px solid #f5f5f5;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #f5f5f5;
    outline: none;
    font-size: 15px;
    letter-spacing: 1px;
}
.container .card-4 ::placeholder{
    color: #f5f5f5;
}
.container .card-4 h2{
    color: #f5f5f5;
}

/*Carta 5*/
.container .card-5{
    width: 330px;
    height: 330px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #7a46fb;
}
.container .card-5:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.439);
}
.container .card-5 input{
    width: 80%;
    height: 35px;
    padding-top: 5px;
    margin-bottom: 30px;
    background: transparent;
    border-bottom: 1px solid #f5f5f5;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #f5f5f5;
    outline: none;
    font-size: 15px;
    letter-spacing: 1px;
}
.container .card-5 ::placeholder{
    color: #f5f5f5;
}
.container .card-5 h2{
    color: #f5f5f5;
}

/*Carta 6*/
.container .card-6{
    width: 330px;
    height: 330px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #7a46fb;
}
.container .card-6:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.439);
}
.container .card-6 input{
    width: 80%;
    height: 35px;
    padding-top: 5px;
    margin-bottom: 30px;
    background: transparent;
    border-bottom: 1px solid #f5f5f5;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #f5f5f5;
    outline: none;
    font-size: 15px;
    letter-spacing: 1px;
}
.container .card-6 ::placeholder{
    color: #f5f5f5;
}
.container .card-6 h2{
    color: #f5f5f5;
}

/*Carta 7*/
.container .card-7{
    width: 330px;
    height: 330px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #7a46fb;
}
.container .card-7:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.439);
}
.container .card-7 input{
    width: 80%;
    height: 35px;
    padding-top: 5px;
    margin-bottom: 30px;
    background: transparent;
    border-bottom: 1px solid #f5f5f5;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #f5f5f5;
    outline: none;
    font-size: 15px;
    letter-spacing: 1px;
}
.container .card-7 ::placeholder{
    color: #f5f5f5;
}
.container .card-7:hover h2{
    color: #f5f5f5;
}

/*Carta 8*/
.container .card-8{
    width: 330px;
    height: 330px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #7a46fb;
}
.container .card-8:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.439);
}
.container .card-8 input{
    width: 80%;
    height: 35px;
    padding-top: 5px;
    margin-bottom: 30px;
    background: transparent;
    border-bottom: 1px solid #f5f5f5;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #f5f5f5;
    outline: none;
    font-size: 15px;
    letter-spacing: 1px;
}
.container .card-8 ::placeholder{
    color: #f5f5f5;
}
.container .card-8:hover h2{
    color: #f5f5f5;
}

/*Carta 9*/
.container .card-9{
    width: 330px;
    height: 330px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #7a46fb;
}
.container .card-9:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.439);
}
.container .card-9 input{
    width: 80%;
    height: 35px;
    padding-top: 5px;
    margin-bottom: 30px;
    background: transparent;
    border-bottom: 1px solid #f5f5f5;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #f5f5f5;
    outline: none;
    font-size: 15px;
    letter-spacing: 1px;
}
.container .card-9 ::placeholder{
    color: #f5f5f5;
}
.container .card-9:hover h2{
    color: #f5f5f5;
}

/*Carta 10*/
.container .card-10{
    width: 330px;
    height: 330px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #7a46fb;
}
.container .card-10:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.439);
}
.container .card-10 input{
    width: 80%;
    height: 35px;
    padding-top: 5px;
    margin-bottom: 30px;
    background: transparent;
    border-bottom: 1px solid #f5f5f5;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #f5f5f5;
    outline: none;
    font-size: 15px;
    letter-spacing: 1px;
}
.container .card-10 ::placeholder{
    color: #f5f5f5;
}
.container .card-10:hover h2{
    color: #f5f5f5;
}

/*Carta 11*/
.container .card-11{
    width: 330px;
    height: 330px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #7a46fb;
}
.container .card-11:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.439);
}
.container .card-11 input{
    width: 80%;
    height: 35px;
    padding-top: 5px;
    margin-bottom: 30px;
    background: transparent;
    border-bottom: 1px solid #f5f5f5;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #f5f5f5;
    outline: none;
    font-size: 15px;
    letter-spacing: 1px;
}
.container .card-11 ::placeholder{
    color: #f5f5f5;
}
.container .card-11:hover h2{
    color: #f5f5f5;
}

/*Carta 12*/
.container .card-12{
    width: 330px;
    height: 330px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #7a46fb;
}
.container .card-12:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.439);
}
.container .card-12 input{
    width: 80%;
    height: 35px;
    padding-top: 5px;
    margin-bottom: 30px;
    background: transparent;
    border-bottom: 1px solid #f5f5f5;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #f5f5f5;
    outline: none;
    font-size: 15px;
    letter-spacing: 1px;
}
.container .card-12 ::placeholder{
    color: #f5f5f5;
}
.container .card-12:hover h2{
    color: #f5f5f5;
}

/*Carta 13*/
.container .card-13{
    width: 330px;
    height: 330px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #7a46fb;
}
.container .card-13:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.439);
}
.container .card-13 input{
    width: 80%;
    height: 35px;
    padding-top: 5px;
    margin-bottom: 30px;
    background: transparent;
    border-bottom: 1px solid #f5f5f5;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #f5f5f5;
    outline: none;
    font-size: 15px;
    letter-spacing: 1px;
}
.container .card-13 ::placeholder{
    color: #f5f5f5;
}
.container .card-13:hover h2{
    color: #f5f5f5;
}

/*Carta 14*/
.container .card-14{
    width: 330px;
    height: 330px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #7a46fb;
}
.container .card-14:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.439);
}
.container .card-14 input{
    width: 80%;
    height: 35px;
    padding-top: 5px;
    margin-bottom: 30px;
    background: transparent;
    border-bottom: 1px solid #f5f5f5;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #f5f5f5;
    outline: none;
    font-size: 15px;
    letter-spacing: 1px;
}
.container .card-14 ::placeholder{
    color: #f5f5f5;
}
.container .card-14:hover h2{
    color: #f5f5f5;
}

/*Carta 15*/
.container .card-15{
    width: 330px;
    height: 330px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #7a46fb;
}
.container .card-15:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.439);
}
.container .card-15 input{
    width: 80%;
    height: 35px;
    padding-top: 5px;
    margin-bottom: 30px;
    background: transparent;
    border-bottom: 1px solid #f5f5f5;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #f5f5f5;
    outline: none;
    font-size: 15px;
    letter-spacing: 1px;
}
.container .card-15 ::placeholder{
    color: #f5f5f5;
}
.container .card-15:hover h2{
    color: #f5f5f5;
} 


/*Carta 16*/
.container .card-16{
    width: 330px;
    height: 330px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #7a46fb;
}
.container .card-16:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.439);
}
.container .card-16 input{
    width: 80%;
    height: 35px;
    padding-top: 5px;
    margin-bottom: 30px;
    background: transparent;
    border-bottom: 1px solid #f5f5f5;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #f5f5f5;
    outline: none;
    font-size: 15px;
    letter-spacing: 1px;
}
.container .card-16 ::placeholder{
    color: #f5f5f5;
}
.container .card-16:hover h2{
    color: #f5f5f5;
}

/*Carta 17*/
.container .card-17{
    width: 330px;
    height: 330px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #7a46fb;
}
.container .card-17:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.439);
}
.container .card-17 input{
    width: 80%;
    height: 35px;
    padding-top: 5px;
    margin-bottom: 30px;
    background: transparent;
    border-bottom: 1px solid #f5f5f5;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #f5f5f5;
    outline: none;
    font-size: 15px;
    letter-spacing: 1px;
}
.container .card-17 ::placeholder{
    color: #f5f5f5;
}
.container .card-17:hover h2{
    color: #f5f5f5;
}

/*Carta 18*/
.container .card-18{
    width: 330px;
    height: 330px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #7a46fb;
}
.container .card-18:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.439);
}
.container .card-18 input{
    width: 80%;
    height: 35px;
    padding-top: 5px;
    margin-bottom: 30px;
    background: transparent;
    border-bottom: 1px solid #f5f5f5;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #f5f5f5;
    outline: none;
    font-size: 15px;
    letter-spacing: 1px;
}
.container .card-18 ::placeholder{
    color: #f5f5f5;
}
.container .card-18:hover h2{
    color: #f5f5f5;
}

/*Carta 19*/
.container .card-19{
    width: 330px;
    height: 330px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #7a46fb;
}
.container .card-19:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.439);
}
.container .card-19 input{
    width: 80%;
    height: 35px;
    padding-top: 5px;
    margin-bottom: 30px;
    background: transparent;
    border-bottom: 1px solid #f5f5f5;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #f5f5f5;
    outline: none;
    font-size: 15px;
    letter-spacing: 1px;
}
.container .card-19 ::placeholder{
    color: #f5f5f5;
}
.container .card-19:hover h2{
    color: #f5f5f5;
}


